<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkedUp</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <!-- <link rel="stylesheet" href="css/foundation-icons.css" /> -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="index.html">Home</a></li>
          <li><a href="showUser.html">Profile</a></li>
          <li class="has-dropdown">
            <a href="#">LinkUp News</a>
            <ul class="dropdown">
 <li><a href="feed.html">People</a></li>
              
              
            </ul>
          </li>
          <li><a href="showUser.html">Log in</a></li>
        </ul>
      </section>
    </nav>

    <header class="header margin-bottom">
      <div class="row">
        <div class="large-6 columns">
          <p><img src="">LinkedUp LOGO</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list social">
            
            <!--  -->
            
            <li><a href="linkedin.com"><img src="img/linkedin.png"></a></li>
          </ul>
        </div>
      </div>
    </header>

    <section>
      <div class="row">
        <div class="large-8 columns">
          <div class="panel">
            <h1>Get Linked</h1>
           <form>
              <div class="row">
                <div class="large-12 columns">
                  <label>Name
                    <input type="text" placeholder="Enter Name" />
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>Email
                    <input type="text" placeholder="Enter Email" />
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>LinkedIn
                    <input type="text" placeholder="LinkedIn Profile" />
                  </label>
                </div>
              </div>
              <div class="row">
                 <div class="large-12 columns">
                  <label>Skills</label>
                  <input type="radio"  value="HTML/CSS"><label>HTML/CSS</label>
                   <input type="radio"  value="Javascript"><label>Javascript</label>
                    <input type="radio"  value="Node"><label>Java</label>
                     <input type="radio"  value="React"><label>React</label>
                     <input type="radio"  value="Angular"><label>Angular</label>
                     <input type="radio"  value="Fullstack"><label>Fullstack</label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>Message
                    <input type="text" placeholder="Enter Message (Optional)" />
                  </label>
                </div>
              </div>
              <input type="submit" class="button" value="Send Form">
            </form>
          </div>
        </div>
        <div class="side-menu large-4 columns">
          <div class="panel">
            <h4>LinkUps</h4>
            <ul class="side-nav">
              <!--<li><a href="feed.html">People</a></li>-->
              
              
            </ul>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>Copyright &copy; 2018 LinkedUp</p>
    </footer>
    
    <!-- <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation(); -->
    </script>
    <!-- <script src="js/script.js"></script> -->
  </body>
</html>
